<!DOCTYPE html>
<html xmlns:sec=""
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">
    <div>
        <table>
            <tr>
                <td>아이디:</td><td th:text="${loginUser.userEmail}"></td>
            </tr>
            <tr>
                <td>이름:</td><td th:text="${loginUser.userName}"></td>
            </tr>
            <tr>
                <td>가입일:</td><td th:text="${loginUser.createDate}"></td>
            </tr>
        </table>
        <a th:href="@{'/'}">메인으로 이동</a>

    </div>
</th:block>
</html>